<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Google Map
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div id="map"></div>
  <ion-list>
    <ion-item>
      <ion-label fixed>Name</ion-label>
      <ion-input type="text" [value]="name" [(ngModel)]="name" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>Coordenades</ion-label>
      <ion-input type="text" value="10.0090, -22.93933"></ion-input>
    </ion-item>
    <ion-item>
      {{name}}
    </ion-item>
  </ion-list>
</ion-content>
